.navigationBarWrapper {
  display: grid;
  grid-template-columns: minmax(45px, auto) 1fr 1fr 1fr 1fr minmax(45px, auto);
  font-family: Arial, Helvetica, sans-serif;
  background-color: violet;
  justify-items: center;
}

.navigationBar {
  grid-column-start: 1;
  grid-column-end: 7;
}

.profile {
  position: absolute;
  top: 2%;
  right: 10%;
}

.navigationBar a {
  color: black;
  text-align: center;
  padding: 14px 30px 16px;
  text-decoration: none;
  font-size: 24px;
}

.navigationBar a:hover {
  color: gray;
}

.navigationBar .icon {
  display: none;
  background-color: tomato;
}

@media screen and (max-width: 600px) {
  .navigationBar {
    background-color: red;
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  .navigationBar {
    color: black;
    text-decoration: underline;
    display: flex;
    text-align: left;
    font-size: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navigationBar a:not(:last-child) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    grid-column: 4;
  }
}
